body{
  /* text-align: center; */
  background-color: #B2EBF2;
}
H1{
  font-family: 'Felipa', cursive;
font-family: 'Lobster', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Fjalla One', sans-serif;
  text-align: center;
  font-size: 50px;
}
#tria{
  margin-top: 0;
  font-family: 'Felipa', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Shadows Into Light', cursive;
}
#inform{
  border: 3px solid black;
  border-radius: 50px;
}
p{
  font-size: 20px;
  margin-top: 60px;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Felipa', cursive;
}
button:hover{
background-color: green;
}
input{
  height: 30px;
}
.form{
  float: left;
  margin-left: 60px;
  border: 4px solid black;
  border-radius: 30px;
  padding: 20px;
  background-color: #BDBDBD;
}

button{
  padding: 15px;
  margin-left: 20px;
  /* width: 8%; */
  /* height: 50px;
  font-size: 20px; */
}
#reset:hover{
  background-color: orange;
}
